*{
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
}
.popup-container {
	width: 500px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 999;
	text-align: center;
  }
  
  .popup-container img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
  }
  .popup-container .ConName {
	position: absolute;
	margin: 20%;
	/* left: 15%; */
	color: #fff;
	font-size: 30px;
  }
  
  .popup-container .details {
	text-align: center; /* Center align the text inside details */
  }
  
  .popup-container button {
	display: block;
	margin: 10px auto; /* Center the button */
	background-color: #000;
	color: #fff;
	height: 50px;
	width: 120px;
	border-radius: 30px;
	border: none;
  }
  .popup-container button:hover {
	background-color: #f44336;
  }
  
  /* main page start */
.header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('bg.jpeg');
	background-size:cover;
    background-position: center;
    /*background-size: auto;*/
    position: relative;

}

nav {
	position: fixed;
	background-color: #000000;
	height: 70px;
	width: 100%;
    display: flex;
    /* padding: 2% 6%; */
    justify-content: space-between;
    align-items: center;
	z-index: 10000;
}

nav img {
	margin-left:20px ;
	height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
	cursor: pointer;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #28d3f1;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


/* drop down start from here*/
.dropOfCourse{
	position:absolute;
	display: none;
	cursor: pointer;
}
.dropOfCourse ul{
	padding: 0;
	background-color: #00d5ff52;
	justify-content:left;
	text-align:left;
}
.dropOfCourse li {
	cursor: pointer;
}
#course:hover .dropOfCourse {
	display: block;
}

/* ends here*/

nav .fa{
	display: none;
}

@media (max-width: 700px) {
	.text-box h1 {
    font-size: 20px;
	}
	.nav-links ul li {
    display: block;
	}
	.nav-links{
		position: absolute;
		display: none;
		background: #2c8ab2;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.1s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
	.dropOfCourse{
		position:relative;
		display: none;
	}
	.popup-container {
		width: 300px;
	}
	.popup-container .ConName{
		font-size: 20px;
	}
}

.facilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    /* border: 2px solid red; */
}
.fac{
    display: flex;
    text-align: center;
    justify-content:center ;
    height:fit-content;
    width: 350px;
    height: 250px;
    margin: 25px;

}
.fac:hover {
    transform: scale(1.05, 1.05); /* Increase both X and Y axes by 20% on hover */
    transition: transform 1s ease-in-out; /* Add a smooth transition effect */
}

.top{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
	box-shadow: 0px 2px 2px 0.5px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top h6{
	font-size:20px;
	width: 200px;
    padding: 5px;
	text-wrap: wrap;
}

.desc{
    border: 1px solid #9b9b9ba4; 
	border-radius: 25px;
    padding: 22px;
    margin-top: 15px;
    height: 95%;
    text-align: center;
    background-color: #9b9b9b1c;
}

.desc p{
    font-size: 20px;
    margin: 10px;
}
.desc button{
	bottom: 0;
    font-size: 15px;
	border: none;
    border-radius: 20px;
    background-color: rgb(11, 231, 247);
    padding: 10px;
    width:40%;
}
.fac:nth-child(1) button {background-color: #ff00005b;}

.fac:nth-child(2) button {background-color: #00ff005b;}

.fac:nth-child(3) button {background-color: #0000ff5b;}
.fac:nth-child(4) button {background-color: #ff00005b;}

.fac:nth-child(5) button {background-color: #00ff005b;}

.fac:nth-child(6) button {background-color: #0000ff5b;}
.fac:nth-child(7) button {background-color: #ff00005b;}

.fac:nth-child(8) button {background-color: #00ff005b;}

.fac:nth-child(9) button {background-color: #0000ff5b;}
